<%- include('partials/header.ejs'); -%>

    <div style="width: 90%;
    margin: auto;">
        <h1>Complete list:</h1>
        <h4>Total games: <%= gameCounter %></h4>
        <hr>
        <% if(locals.games){ %>
            <% games.forEach((game) => { %>
                <div style="display:flex; gap:1rem; margin-bottom: 3px;">
                    <img style="width:4rem;" src="<%= game.picture_url %>">
                    <p><%= game.title %><p>
                </div>
            <% }); %>
        <% }else{ %>
            <h2>Sorry there are no games yet!</h2>
        <% } %>
    </div>

<%- include('partials/footer.ejs'); -%>